.alert-message {
    animation: alert-message-animation 6s ease forwards;
}

@keyframes alert-message-animation {
    0% {
        bottom: -20%;
    }

    10% {
        bottom: 0.75rem;
    }

    50% {
        bottom: 0.75rem;
    }

    100% {
        bottom: -20%;
    }
}